body {
  background-color: rgb(195, 195, 195);
}

.table .dtr-title {
  color: black;
  font-weight: normal !important;
}

tr.vertical-top th {
  font-weight: normal !important;
}

.card.card-biaya .card-header {
  background-color: rgb(130, 244, 244);
  border-top-style: solid;
  border-top-width: 6px;
  border-top-color: rgb(0, 191, 255);
}

.card-content-biaya {
  border-top-style: solid;
  border-top-width: 6px;
  border-top-color: rgb(60, 69, 71);
}

.page-content-header {
  padding-top: 71px;
  background-color: white;
}

.page-content-header h3 {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #020213;
}

.page-content-header .custom-drop {
  left: -91px !important ;
}
